name: Run Tests

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
jobs:
  test:
    name: Integration Test
    strategy:
      matrix:
        server:
          - 7.2.2
    runs-on: ubuntu-latest
    services:
      couchbase:
        image: couchbase:enterprise-${{ matrix.server }}
        ports:
          - 8091-8096:8091-8096
          - 18091-18096:18091-18096
          - 11210:11210
          - 11207:11207
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-go@v2
        with:
          go-version: 1.21
      - uses: arduino/setup-protoc@v1
        with:
          version: 3.17
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Tools
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.2
          go install github.com/matryer/moq@latest
      - name: Install Dependencies
        run: go get ./...
      - name: Generate Files
        run: |
          go generate ./...
      - name: Initialize Test Cluster
        run: ./.github/bin/init-cluster
      - name: Check Test Cluster
        run: ./.github/bin/check-cluster
      - name: Setup Cluster
        run: |
          curl -X POST -u Administrator:password http://127.0.0.1:8091/pools/default/buckets/default/scopes/_default/collections -d name=test
      - name: Run Tests
        timeout-minutes: 10
        env:
          SGTEST_CBCONNSTR: 127.0.0.1
        run: go test -v $(go list ./... | grep -v /contrib/)
